<div class="container">
  <app-return-back [showOnlyIcon]="true"></app-return-back>

  <h2>{{ translation.title }}</h2>

  <form [formGroup]="recordForm" (ngSubmit)="onSubmit()" class="mt-5">
    <!--  Name -->
    <div class="field mb-3">
      <label for="recordName" class="d-block mb-1">
        {{ translation.nameLabel }}
      </label>
      <input
        pInputText
        id="recordName"
        type="text"
        class="p-inputtext-sm"
        formControlName="name"
      />
    </div>
    <!-- Price -->
    <div class="field mb-3">
      <label for="recordPrice" class="d-block mb-1">
        {{ translation.priceLabel }}
      </label>
      <p-inputNumber
        id="recordPrice"
        formControlName="price"
        mode="currency"
        currency="CZK"
        locale="cs-CZ"
      ></p-inputNumber>
    </div>
    <!-- Category -->
    <div class="field mb-3">
      <label for="recordCategory" class="d-block mb-1">
        {{ translation.categoryLabel }}
      </label>
      <p-dropdown
        id="recordCategory"
        [options]="categoryList"
        [editable]="true"
        optionLabel="name"
        optionValue="id"
        formControlName="category"
      ></p-dropdown>
    </div>
    <!-- Market -->
    <div class="field mb-3">
      <label for="recordMarket" class="d-block mb-1">
        {{ translation.marketLabel }}
      </label>
      <p-dropdown
        id="recordMarket"
        [options]="marketList"
        [editable]="true"
        optionLabel="name"
        optionValue="id"
        formControlName="market"
      ></p-dropdown>
    </div>
    <!-- Submit -->
    <div class="field mt-4">
      <p-button
        [label]="translation.submitButton"
        type="submit"
        icon="pi pi-check"
        iconPos="right"
      ></p-button>
    </div>
  </form>
</div>
