<!-- Navigation -->
<div class="navigation">
	<div class="navigation__logo">Mealer</div>
	<!--   Search -->
	<div class="navigation__search-box">
		<app-search></app-search>
	</div>
	<nav class="navigation__nav">
		<ul class="navigation__list">
			<!--   Category Page   -->
			<li class="navigation__item">
        <!-- @route CATEGORY -->
				<a [routerLink]="['/category']" class="navigation__link">
					Kategorie
				</a>
			</li>
			<li class="navigation__item">
				<a
					[routerLink]="'/' + AppRoutes.FORM + '/' + AppRoutes.FORM_CATEGORY"
					class="navigation__link"
        >
          Přidat kategorii
        </a>
			</li>
      <li class="navigation__item">
        <a
          [routerLink]="'/' + AppRoutes.FORM + '/' + AppRoutes.FORM_PRODUCT"
          class="navigation__link"
        >
          Přidat produkt
        </a>
      </li>
			<!--   Login   -->
			<li
				class="navigation__item"
				*ngIf="!(authService.isAuthenticated$ | async)"
			>
				<a
					class="navigation__link"
					(click)="authService.loginWithRedirect()"
				>
					Přihlášení
				</a>
			</li>
		</ul>
	</nav>
	<!--   Profile   -->
	<app-nav-profile></app-nav-profile>
</div>
<!-- Page Content -->
<router-outlet></router-outlet>
