<div class="container">
  <div class="page-header">
    <app-return-back [showOnlyIcon]="true"></app-return-back>
  </div>

  <h2>{{ translation.title }}</h2>

  <form [formGroup]="recordForm" (ngSubmit)="onSubmit()" class="mt-5">
    <!--  Name -->
    <div class="row field mb-3">
      <div class="col-4">
        <label for="recordName" class="d-block mb-1">
          {{ translation.nameLabel }}
        </label>
        <input
          pInputText
          id="recordName"
          type="text"
          class="w-100"
          formControlName="name"
          [placeholder]="translation.namePlaceholder"
        />
      </div>
    </div>
    <!-- Price -->
    <div class="row field mb-3">
      <div class="col-4">
        <label for="recordPrice" class="d-block mb-1">
          {{ translation.priceLabel }}
        </label>
        <p-inputNumber
          id="recordPrice"
          formControlName="price"
          mode="currency"
          currency="CZK"
          locale="cs-CZ"
          class="w-100"
          styleClass="w-100"
          inputStyleClass="w-100"
        ></p-inputNumber>
      </div>
    </div>
    <!-- Calendar -->
    <div class="row field mb-3">
      <div class="col-4">
        <label for="recordDate" class="d-block mb-1">
          {{ translation.dateLabel }}
        </label>
        <p-calendar
          id="recordDate"
          formControlName="date"
          dateFormat="dd.mm.yy"
          [showTime]="false"
          [firstDayOfWeek]="1"
          class="w-100"
          styleClass="w-100"
        ></p-calendar>
      </div>
    </div>
    <!-- Category -->
    <div *ngIf="categories$ | async as categories" class="row field mb-3">
      <div class="col-4">
        <label for="recordCategory" class="d-block mb-1">
          {{ translation.categoryLabel }}
        </label>
        <p-dropdown
          id="recordCategory"
          [options]="categories"
          [editable]="true"
          optionLabel="name"
          optionValue="id"
          formControlName="categoryId"
          style="w-100"
          styleClass="w-100"
        ></p-dropdown>
      </div>
    </div>
    <!-- Market -->
    <div *ngIf="markets$ | async as markets" class="row field mb-3">
      <div class="col-4">
        <label for="recordMarket" class="d-block mb-1">
          {{ translation.marketLabel }}
        </label>
        <p-dropdown
          id="recordMarket"
          [options]="markets"
          [editable]="true"
          optionLabel="name"
          optionValue="id"
          formControlName="marketId"
          style="w-100"
          styleClass="w-100"
        ></p-dropdown>
      </div>
    </div>
    <!-- Submit -->
    <div class="field mt-4">
      <p-button
        [label]="translation.submitButton"
        type="submit"
        icon="pi pi-check"
        iconPos="right"
      ></p-button>
    </div>
  </form>
</div>

<!-- Toast Message -->
<p-toast position="top-center"></p-toast>
