<div class="container">
	<div class="header">
		<h1 class="header__title">
			<ng-container
				*ngIf="category$ | async; then childTitle; else rootTitle"
			></ng-container>
		</h1>
	</div>
	<div class="category">
		<ng-container
			*ngIf="category$ | async; then childCategory; else rootCategory"
		></ng-container>
	</div>
	<div class="product-records">
		<ng-container
			*ngIf="(category$ | async)?.productRecords; then productRecords"
		></ng-container>
	</div>
</div>

<!-- Root Title -->
<ng-template #rootTitle>
	{{ translation.Title }}
</ng-template>

<!-- Category Title -->
<ng-template #childTitle>
	{{ (category$ | async)?.name }}
</ng-template>

<!-- Root Category -->
<ng-template #rootCategory>
	<div class="category__list row">
		<div
			*ngFor="let category of categoryList$ | async"
			class="col-3 category__wrapper"
		>
			<div
				class="category__item pointer"
				[routerLink]="['/category', category.id]"
			>
				{{ category.name }}
			</div>
		</div>
	</div>
</ng-template>

<!-- Subcategory -->
<ng-template #childCategory>
	<ng-container *ngIf="category$ | async as category">
		<!-- Subcategory List -->
		<h2 *ngIf="category.subcategory.length" class="category__title mb-3">
			{{ translation.SubcategoryTitle }}
		</h2>
		<div class="category__list row mb-3">
			<div
				*ngFor="let subcategory of category.subcategory"
				class="col-3 category__wrapper"
			>
				<div
					class="category__item pointer"
					[routerLink]="['/category', subcategory.id]"
				>
					{{ subcategory.name }}
				</div>
			</div>
		</div>
	</ng-container>
</ng-template>

<!-- Product Records -->
<ng-template #productRecords>
	<ng-container *ngIf="(category$ | async)?.productRecords as records">
		<div class="product-records-list">
			<app-product-record [productRecords]="records"></app-product-record>
		</div>
	</ng-container>
</ng-template>
