<div class="container">
  <app-header-panel
    title="Dostupné kategorie"
    [showRecordButton]="false"
  ></app-header-panel>

  <div class="row">
    <div *ngFor="let category of categoryList | async" class="col-3">
      <p-card [routerLink]="['/category', category.id]" class="pointer">
        <div class="d-flex align-items-center">
          <i class="ico" [class]="category.iconClass"></i>
          <div class="ms-3">
            <strong>{{ category.name }}</strong>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
