<div class="product-list__panel d-flex justify-content-between mb-2">
	<h2 class="product-list__title">
		{{ translation.RecordList }}
	</h2>
	<div class="product-list__action-wrapper">
		<button
			type="button"
			class="button button-primary button-icon-plus"
			[routerLink]="['/', appRoutes.FORM, appRoutes.FORM_PRODUCT_RECORD]"
		>
			{{ translation.NewRecord }}
		</button>
	</div>
</div>

<div class="product-list mb-6">
	<p-table [value]="productRecords">
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="name">
					{{ translation.TableColumnName }}
					<p-sortIcon field="name"></p-sortIcon>
				</th>
				<th pSortableColumn="price">
					{{ translation.TableColumnPrice }}
					<p-sortIcon field="price"></p-sortIcon>
				</th>
				<th pSortableColumn="date">
					{{ translation.TableColumnDate }}
					<p-sortIcon field="date"></p-sortIcon>
				</th>
				<th pSortableColumn="weight">
					{{ translation.WeightColumnDate }}
					<p-sortIcon field="weight"></p-sortIcon>
				</th>
				<th pSortableColumn="market">
					{{ translation.TableColumnMarket }}
					<p-sortIcon field="market"></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-product>
			<tr>
				<td>{{ product.name | titlecase }}</td>
				<td>{{ product.price }} Kč</td>
				<td>{{ product.date | date: 'd. M. yyyy' }}</td>
				<td>{{ product.weight | weight }}</td>
				<td>{{ product.market.name }}</td>
			</tr>
		</ng-template>
	</p-table>
</div>
