<div
	*ngIf="authService.user$ | async as user"
	class="user-profile"
	(click)="showUserOverlay = true"
	cdkOverlayOrigin
	#trigger="cdkOverlayOrigin"
>
	<div class="user-profile__avatar">
		<img
			[src]="user.picture"
			[alt]="user.email"
			class="user-profile__picture"
		/>
	</div>

	<ng-template
		cdkConnectedOverlay
		[cdkConnectedOverlayOrigin]="trigger"
		[cdkConnectedOverlayOpen]="showUserOverlay"
    (overlayOutsideClick)="showUserOverlay = false"
	>
		<div class="user-profile-panel">
			<div>
				<strong>{{ user.nickname }}</strong>
			</div>
			<div>{{ user.email }}</div>
			<hr />
			<a href="#" (click)="logout()">Odhlásit se</a>
		</div>
	</ng-template>
</div>
