/* You can add global styles to this file, and also import other style files */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");

/* PrimeNG */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

/* Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/bootstrap-utilities.scss";

/* Project Styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/// Heading
h1 {
  font-size: 2.8rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

.pointer {
  cursor: pointer;
}

.no-decoration {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
