<div class="container">
  <div class="page-header">
    <app-return-back [showOnlyIcon]="true"></app-return-back>
  </div>

  <h2>{{ translation.title }}</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!--  Name -->
    <div class="field mb-3">
      <label for="productName" class="d-block mb-1">
        {{ translation.nameLabel }}
      </label>
      <input pInputText id="productName" type="text" formControlName="name" />
    </div>
    <!-- Submit -->
    <div class="field mt-4">
      <p-button
        [label]="translation.submitButton"
        type="submit"
        icon="pi pi-check"
        iconPos="right"
      ></p-button>
    </div>
  </form>
</div>

<!-- Toast Message -->
<p-toast position="top-center"></p-toast>
